body{
    margin: 0;
}
header{
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}
ul {
    background-color: rgb(230,230,230);
    box-shadow: 0 15px 10px rgb(230,230,230);
    height: 60px;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-inline-start: 0;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    line-height: 60px;
}
li{
    display: inline;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.li_accueil{
    position: absolute;
    left: 20px;
    font-size: 150%;
    text-decoration: underline;
}
.li_contact{
    position: absolute;
    right: 40px;
    font-size: 140%;
}
a{
    color: black;
    text-decoration-line: none;
    transition: all 0.5s;
    font-family: Copperplate Gothic;
}
a:hover{
    color: rgb(45,100,200);
    border-radius: 5px;
    font-size: 125%;
    transition: all 0.3s;
}
a:active {
    background-color: rgb(150, 150, 150);
    color: rgb(15, 70, 160);
    font-size: 100%;
    transition: 0.1s;
}


h1{
    font-family: Franklin Gothic Medium;
    font-size: 300%;
    display: flex;
    justify-content: center;
    margin-top: 115px;
    margin-bottom: 100px;
}

h2{
    font-family: Franklin Gothic;
    font-weight: lighter;
    font-size: 175%;
    text-decoration: underline;
    text-decoration-color: rgb(200, 226, 255);
}
p{
    font-family: Franklin Gothic;
    font-weight: lighter;
}
.contenu_projet{
    display: flex;
    justify-content: space-evenly;
}
.projet_1, .projet_2{
    width: 400px;
    height: auto;
    background-color: rgb(150, 150, 150);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px;
}


footer{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(119, 181, 254);
    margin-top: 100px;
    border-top: 5px solid rgb(15, 70, 160);
    font-size: 150%;
    font-family: Copperplate Gothic;
    text-decoration: underline;
}
.contenu_footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.mail:hover, .Ml:hover, .tel:hover{
    color: white;
    text-decoration: underline white;
    cursor: pointer;
}


@media all and (max-width: 950px) {
    footer{
        font-size: 100%;
    }
    li{
        font-size: 100%;
    }
    .li_accueil{
        font-size: 100%;
    }
    .li_contact{
        font-size: 100%;
    }
    .projet_1, .projet_2 {
        width: 300px;
        padding: 10px;
    }    
}
@media all and (max-width: 750px) {
    li{
        font-size: 70%;
        margin-left: 0;
        display: contents;
    }
    .li_accueil{
        font-size: 60%;
    }
    .li_contact{
        font-size: 60%;
    }
    a:hover{
        font-size: 100%;
    }
    h1{
        font-size: 250%;
        margin-bottom: 50px;
    }
    h2{
        font-size: 140%;
    }
    p{
        font-size: 80%;
    }
}
@media all and (max-width: 700px) {
    .contenu_projet{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    footer {
        margin-top: 50px;
    }
}
@media all and (max-width: 500px) {
    ul{
        display: flex;
        justify-content: space-between;
    }
    footer{
        font-size: 70%;
    }
    li{
        font-size: 50%;
    }
    .li_accueil{
        font-size: 50%;
    }
    .li_contact{
        font-size: 50%;
    }
}
